.github-icon {
    font-size: 25px;
    border: 2px solid #1a2b18;
    border-radius: 50%;
    padding: 5px;
    background: rgb(11, 113, 153);
    color: rgb(100, 9, 9);
}
.github-icon-container {
    position: fixed;
    bottom: 10px;
    right: 10px;
}
